name: Build Android

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: "Type de build (apk ou aab)"
        required: true
        default: "apk"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Build APK/AAB
        run: |
          npm install -g eas-cli
          eas build --platform android --profile production --non-interactive

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-${{ github.event.inputs.build_type }}
          path: build-output/*
